.icon-bg-color-main-six {
    Width: 350px;
    Height: 133px;
    background-color: #E1FFFB;
    border-radius: 10px;
    margin: 10px;
}

.main-image-order-section-one img {
    height: 100px;
    width: 100px;
}

.HIGHLANDER-text-section-one {
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
    margin-left: 10px;
}

.product-box-section {
    padding: 39px;
}

.product-btn {
    text-align: end;
}

.product-btn .btn {
    background-color: #091F57;
    color: white;
    Width: 230px;
    Height: 70px;
    border-radius: 10px;
    font-size: 20px;
}

.product-btn img {
    Width: 17.79px;
    Height: 20.85px;
}